/* 
.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  width: 70%;
  border: 2px solid black;
  padding:20px;
  margin: auto;
  margin-top: 60px;
}

.form-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  width: 100%;
}
.btn {
  display: flex;
  width: max-content;
  padding: 6px 20px 6px 20px;
  background-color: rgb(148, 154, 148);
  border: none;
  border-radius: 5px;
  align-self: flex-end;
}
.header {
  height: 20%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-left: 10%;

}
.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.header-bar{
  display: flex;
  flex-direction: row;
  padding: 10px;

}
.header-search {
  display: flex;
  width: 50%;
}
.header-sort {
  display: flex;
}
.list {
  width: 80%;
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 100%; /* set the width of the table */
/* } */

/* th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd; /* add a border around each cell */
/* }

th {
  background-color: #f2f2f2;
} */

/* td {
  height: 100px; 
}
@media  (max-width: 740px) {
  .delete-btn {
    display: block;
    margin-top: 10px;
    margin-left: 30%;
  }
}
@media  (max-width: 500px) {
  .list{
    width: 100%;
    margin: auto;
    margin-left: 10%;
  }
  .header-search{
    width: 100%;
  }
}
@media  (max-width: 500px) {
  .form{
    width: 100%;
    margin:auto;
  }
 
}
@media  (max-width: 400px) {
  .list{
    width: 100vw;
  }
}
@media (max-width: 436px) {
  .header-bar{
    display: block;  */
  /* }
  .header-sort>button{
    border-radius: 5px;
    margin-left: 55px;
    margin-top: 5px
  }
}
.header-search>input{
  padding: 4px 20px 4px 20px;
  margin-left: 3px;
  width: 100%; */
/* } */
/* .header-sort>button{
  display: flex;
  width: 140px;
  padding: 6px 20px 6px 20px;
  background-color: rgb(148, 154, 148);
  border: none;
  align-self: flex-end;
}  */